<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot Thymeleaf Hello World Example</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Study Plus</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

	<div class="container">
	
		<div class="starter-template col-6">
		<h1>Need a classroom?</h1>
		<form>
		
		<div class="form-group">
			  <label for="campus">Select a campus:</label>
			  <select class="form-control" id="campus" name="campus">
			    <option value='sgw'>SGW Campus</option>
			    <option value='loy'>Loyola Campus</option>
			  </select>
		</div>
		
		<div class="form-group">
			  <label for="building">Select a building:</label>
			  <select class="form-control" id="building" name="building">
				<option value='EV'>EV Building</option>
				<option value='FG'>FG Building</option>
				<option value='Hall'>H Building</option>
				<option value='JMSB'>JMSB Building</option>
			    
			  </select>
		</div>
		 
		  
		  
		  <div class="form-group">
			  <label for="startTime">Start Time:</label>
			  <select class="form-control" id="startTime" name="startTime">
			    <option value="8">8:00</option>
			    <option value="9">9:00</option>
			    <option value="10">10:00</option>
			    <option value="11">11:00</option>
			    <option value="12">12:00</option>
			    <option value="13">13:00</option>
			    <option value="14">14:00</option>
			    <option value="15">15:00</option>
			    <option value="16">16:00</option>
			    <option value="17">17:00</option>			    
			    <option value="18">18:00</option>
			    <option value="19">19:00</option>
			    <option value="20">20:00</option>
			    <option value="21">21:00</option>
			    <option value="22">22:00</option>
			    <option value="23">23:00</option>
			    <option value="24">00:00</option>
			  </select>
		</div>
		
		<div class="form-group">
			  <label for="endTime">End Time:</label>
			  <select class="form-control" id="endTime" name="startTime">
			    <option value="8">8:00</option>
			    <option value="9">9:00</option>
			    <option value="10">10:00</option>
			    <option value="11">11:00</option>
			    <option value="12">12:00</option>
			    <option value="13">13:00</option>
			    <option value="14">14:00</option>
			    <option value="15">15:00</option>
			    <option value="16">16:00</option>
			    <option value="17">17:00</option>			    
			    <option value="18">18:00</option>
			    <option value="19">19:00</option>
			    <option value="20">20:00</option>
			    <option value="21">21:00</option>
			    <option value="22">22:00</option>
			    <option value="23">23:00</option>
			    <option value="24">00:00</option>
			  </select>
		</div>
		  
		  <div class="form-check">
		    <input type="checkbox" class="form-check-input" id="exampleCheck1">
		    <label class="form-check-label" for="exampleCheck1">Check me out</label>
		  </div>
		  <button type="submit" class="btn btn-primary">Search for classroom</button>
		</form>
		</div>

	</div>
	<!-- /.container -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script th:src="@{/js/main.js}"
	src="../../js/main.js" /></script>
</body>

</html>